*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');

body{
    background-image: url(../img/jpg/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #76A60F;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}

.select{
    background: none;
    border: 2px solid #76A60F;
    border-radius: 8px;
    max-width: 95%;
    margin: 4%;
    padding: 2%;
}

h2{
    font-size: 90%;
    text-align: center;
    color: white;
    margin-bottom: 2%;
}

.moni{
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 70%;
}

.moni li{
    padding: 0% 3%;
}

.menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 70%;
}

.menu li{
    padding: 0% 10.8%;
}

a{
    text-decoration: none;
    color: #76A60F;
}

a:hover{
    color: white;
}

.forms{
    background: none;
    border: 2px solid #76A60F;
    border-radius: 8px;
    max-width: 95%;
    margin: 4%;
    padding: 2%;
    text-align: right;
}

label{
    margin-right: 3%;
    font-size: 95%;
}

input{
    background: none;
    border: 1px solid #76A60F;
    border-radius: 15px;
    color: #76A60F;
    padding-left: 1%;
    width: 40%;
    height: 2em;
    margin-bottom: 2%;
    margin-right: 25%;
}

textarea{
    resize: none;
    background: none;
    border: 1px solid #76A60F;
    border-radius: 20px;
    color: #76A60F;
    padding-left: 1%;
    padding-top: 1%;
    margin-right: 25%;
}

.nav{
    background: none;
    border: 1px solid #76A60F;
    border-radius: 20px;
    color: #76A60F;
    padding: 1%;
    max-width: 90%;
    margin: 4%;
}

button{
    background: none;
    color: #76A60F;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 96%;
}

button:hover{
    color: white;
}
input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
  }
  
  input:focus, textarea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }