/* Importando a fonte */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    border: 0;
    font-weight: 800;
  }

body{
    background: url("../img/jpg/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.coluna1{
    width: 551px;
    height: 550px;
    margin: 40px;
}


.coluna2{
    width: 551px;
    height: 550px;
    background-color: #76A60F;
    border-radius: 20px;
    margin: 40px;
    padding: 20px;
}

.itens{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.linha{
    height: 300px;
    width: 551px;
    margin: 10px;
    border: 2px solid #76A60F;
    border-radius: 10px;
    padding: 20px;
    /* margin-right: 9em; */
}

.linha2{
    height: 400px;
    width: 800px;
    margin: 10px;
    border: 2px solid #76A60F;
    border-radius: 10px;
    padding: 20px;
    background-color: #76A60F;
    /* margin-top: 1em; */
}

.col2{
    color: white;
}


.header{
    display: flex;
    justify-content: center;
}

/* #grafico {
    border-radius: 15px;
} */

.itens a{
    color: #76A60F;
    text-transform: uppercase;
    font-size: 15px;
    margin: 20px;
}

.itens2 a{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin: 8px;
}


a:hover{
    color: white;
}


h2{
    color: white;
    text-transform: uppercase;
}

td{
    color: white;
    font-size: 14px;
    max-width: 551px;
    padding-left: 10px;
}

th{
    color: white
} 

table{
    font-size: 12px;
}

.itens3{
    color: white;
    text-transform: uppercase;
}

p{
    margin: 20px;
}

/* .ultMon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 12%;
    margin-top: -30%;
} */
